body {
    padding-top: 50px;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 13%;
    border-radius: 5px;
    background: #fff;
    border: 1px #ccc solid;
}
.login h2 {
    background: url(../pcimages/houtai-logo.png) center no-repeat;
    height: 70px;
    line-height: 70px;
    text-indent: -9999px;
    background-size: 290px;
    margin-top: 0;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;

}
.login .form-control {
    position: relative;
    height: auto;
    padding: 17px;
    box-sizing: border-box;
    font-size: 16px;

}

/*.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}*/
.lock{
  width: 16px;
}
.input-group {
    margin-bottom: -1px;
}
.input-group i{
    font-size: 20px;
}

