body, html {
    height: 100%
}
body{
    background-color:#FBF8F8;
    color: #333;
    font: 14px/1.14 "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体"
}
.header {
    opacity: 0.95;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
}
.sticky-wrapper{
    height: 71px;
    line-height: 71px;
}
.container{
    height: 71px;
    width: 1200px;
    margin: 0 auto;
    line-height: 71px;

}
.navbar-default{
    background: #fff;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-text {
    line-height: 20px;
    font-weight: bold;
    font-size: 16px;
    padding-top: 27px;
    padding-bottom: 15px;
    position: relative;
    display: block;
}
.main-menu{
    text-align: center;
    vertical-align: middle;
}
.sticky-wrapper .navbar-default .navbar-nav >li> a:hover{
    color: red;
}
.sticky-wrapper .navbar-default .navbar-nav > li>.shanghu:hover{
    color: white;!important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: red;
    background-color: white;
}


.navbar-collapse .shanghu-right {
    float: right;
}
.full_banner .bd li {
    width: 100% !important;
    float: left;
    height: 420px;
    overflow: hidden;
    text-align: center;
}
.navbar-nav .shanghu-right .shanghu:hover{
    border-radius: 5px;
    padding: 4px 6px !important;
    background-color:#E94840;!important;
    margin-top:22px;
    margin-left: 15px;
    color:white;!important;
}
.navbar-nav .shanghu-right .shanghu{
    border-radius: 5px;
    padding: 4px 6px !important;
    background-color:#E94840;!important;
    margin-top:22px;
    margin-left: 15px;
    color:white;!important;
}



body, ul, li, i {
    list-style: none;
    font-style: normal;
    margin: 0;
    padding: 0;
}
.navbar-brand.navbar-brand-img img {
    margin-top: 8px;

}
.img-responsive{
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;

}
.navbar {
    text-align: center;
}
.bg{
    max-width: 100% ;
    height: 420px;
    margin: 0 auto;

}
.flicker-example{
    position: relative;
}
.carousel-inner{
    height: 420px;
    max-width: 100% ;
}
.carousel-inner > .item > img{
    display: block;
    max-width: 100% ;
    height:100%;
    position: relative;
    left:-240px

}
.carousel-inner > .item{
    width: 1920px;
}
.banner-nav{
    position: absolute;
    top:0
}
.banner-nav .nav{
    background-color: #858585;

}
.banner-nav ul li {
    height: 42px;
    line-height: 42px;
    color: white !important;
    font-size: 16px;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    padding-left: 45px;
}
.banner-nav ul li a{
    color: white !important;
}
.banner-nav .navname{
    position: relative;
}
.banner-nav ul li img {
    position: absolute;
    right: 35px;
    top: 20px;
}
.banner-nav ul ul {
    position: absolute;
    left: 180px;
    top: 0;
    background: rgba(255,255,255,0.7);
    width: 160px;
    margin-top: 0;
    height: 420px;

}
.banner-nav ul ul li>a{
    color: black !important;
}
.banner-nav ul ul li>a:hover{
    color: red !important;
}

.banner-nav .navname:hover .art2{
    display: block;

}
.banner-nav .navname:hover .art1{
    display: none;

}
.box1 {
    height: 560px;
    width: 100%;
}
.fff {

    width: 1200px;
    margin: 60px auto 0;
    padding: 60px 0;
    clear: both;
}
.navigation {
    text-align: center;
}
.serviceType {
    display: block;
    font-size: 22px;
    color: #3d3838;
    margin-top: 15px;
}
.navigation span.serviceIndex {
    display: block;
    color: #3d3838;
    font-weight: 800;
    font-size: 28px;
    font-family: "Microsoft YaHei";
    text-align: center;
}
.tagsListHeader {
    text-align: right;
}
.lookMore {
    position: relative;
    bottom: 10px;
}
.row {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
}
.form-group {
    position: relative;
    margin-bottom: 0;
}
.ServiceBorder:hover {
    box-shadow: 5px 5px 15px #ccc;
}
.ServiceBorder {
    float: left;
    padding: 10px;
    width: 230px;
    border: 1px solid #eaeaea;
    margin: 0 5px;
    background: #fff;
    cursor: pointer;
    height: 345px;
}
.box1:nth-child(even) {
    background: #fff9df;
}
.shopList .serviceName {
    font-size: 16px;
    padding: 10px 0;
    font-weight: 800;
    color: #000;
    height: 28px;
    overflow: hidden;
    width: 101%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.shopList .description {
    color: #929292;
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    font-size: 13px;
    line-height: 18px;
    height: 58px;
}
.shopList .price {
    font-size: 14px;
    padding: 5px 5px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    color: #fb474f;
}
.btn {
    float: right;
    padding: 0;
    width: 76px;
    height: 24px;
    line-height: 22px;
    text-align: center;
    background: #fb474f;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}
.baozhang {
    text-align: center;
    width: 100%;
    padding-top: 60px;
    background: #fff;
    clear: both;
}
#baozhang p {
    font-size: 20px;
    color: #3d3838;
    margin: 0;
}
.servi {
    width: 100%;
    padding-top: 68px;
    background: #fff;
    height: 150px;
    font-family: "微软雅黑";
}
.servi ul li {
    width: 33%;
    float: left;
    text-align: center;
    color: #1d1515;
    font-size: 18px;
}
.footer {
    width: 100%;
    clear: both;
    padding-top: 50px;
    height: 160px;
    background: #fff;
}
.footer dl dt {
    float: left;
    font-family: " 微软雅黑";
}
.footer dl {
    width: 1200px;
    margin: 0 auto;
}
.footer dl dd {
    margin-left: 40px;
    width: 1100px;
    line-height: 30px;
    float: left;
}
dd {
    display: block;
    -webkit-margin-start: 40px;
}

.footer dl dd i {
    font-size: 16px;
    color: #898989;
    display: inline-block;
    width: 9%;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
    font-family: "微软雅黑";
}
.beian {
    background-color: #FBF8F8;
    width: 100%;
    height: 130px;
    text-align: center;
    padding-top: 50px;
}
.beian p {
    color: #898989;
    margin-bottom: 20px;

}
#baozhang h2 i {
    color: #fb474f;
}

.navnameshow{
    display: none;
}
.banner-nav ul li:hover ul{
    display: block;

}

.banner-nav ul .navname:hover{
    background-color: #60646D;
    text-decoration: none;
}
.banner-nav ul .navname a:hover{

    text-decoration: none;
}
.header{
    position: fixed;
    z-index: 100;
}

.banner-nav .navname .art2{

    display: none;
    position: absolute;
    right: 0px;!important;
    top: 20px;
}
.carousel-indicators li {
    display: inline-block;
    width: 12px;
    height: 12px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #b1b1b1;
    border-radius: 10px;
}