<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap </title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">

    </style>
</head>
<body>

<div ng-view="" class="ng-scope">
    <div class="container ng-scope">
        <div class="login">
            <div class="content">
                <h2>到位商家后台</h2>
                <div class="input-group">
                    <span class="input-group-addon icon-1"><i class="fa fa-user"></i></span>
                    <input class="form-control ng-pristine ng-untouched ng-valid" id="username" type="text"
                           ng-model="name" placeholder="输入昵称或手机号">

                </div>
                <form class="input2 ng-pristine ng-valid" name="forms">
                <span id="box">
                    <div class="input-group">
                        <span class="input-group-addon icon-2"><i class="fa fa-lock lock"></i></span>
                        <input class="form-control ng-pristine ng-untouched ng-valid" id="password" type="password"
                               placeholder="输入密码" ng-model="password">
                    </div>
                </span>
                </form>

                <br>
                <!--<div class="checkbox">
                    <label>
                        <input type="checkbox" name="vehicle" value="Car">
                        <span>记住密码</span>
                    </label>

                </div>-->
            </div>
            <div class="alert alert-danger alert-dismissible ng-binding ng-hide" role="alert" ng-show="loginError">
                <button type="button" class="close" ng-click="cleanErrorMsg()">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <!--注册登陆开始-->
            <div class="zhuce">
                <!--<a class="btn btn-warning btn-lg" ng-href="#/regist">注册</a>-->
                <button class="btn btn-primary btn-lg btn-block" ng-enter="login()" ng-click="login()">登录</button>
            </div>
            <div style="padding: 20px;">
                <a class="pull-left" ng-href="#/forgetpwd" href="#/forgetpwd">忘记密码</a>
                <a class="pull-right" ng-href="#/regist"  ui-sref="register()">注册</a>
            </div>
            <!--注册登陆结束-->
        </div>
        <!--第三方登陆开始-->
        <!--<div class="three">-->
        <!--<ul>-->
        <!--<li><span>第三方登陆</span></li>-->
        <!--<li><img src="img/2.png" onmouseover="this.src='img/1.png';" onmouseout="this.src='img/2.png';"><br/></li>-->
        <!--<li><a target="_blank" href="https://open.weixin.qq.com/connect/qrconnect?appid=wx88c2a40540bb19d3&redirect_uri=daoway.cn&response_type=code&scope=snsapi_login&state=STATE#wechat_redirect"><img src="img/4.png" onmouseover="this.src='img/3.png';" onmouseout="this.src='img/4.png';"></a><br/></li>-->
        <!--<li><img src="img/5.png" onmouseover="this.src='img/6.png';" onmouseout="this.src='img/5.png';"><br/></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--第三方登陆结束-->

        <!--内容结束-->
    </div>
    <script class="ng-scope">

        if (window.screen.width < 600) {
            $(".login").css({
                "max-width": document.body.clientWidth / 2,
                "margin-top": document.body.clientHeight / 3
            });
        }


    </script>
</div>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript">

</script>
</body>
</html>