<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap </title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/serverlist.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">

    </style>
</head>
<body>
<header class="header" class="transparent" >
    <div class="sticky-wrapper" >
        <nav class="navbar navbar-default navbar-transparent" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand navbar-brand-img" href="/">

                        <img src="pcimages/logo.png" class="img-responsive logo-fixed" alt="logo" width="100"
                             height="auto">
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="main-menu">
                    <ul class="nav navbar-nav" id="navbar-nav">
                        <li id="position">
                            <a href="/position">
                                <img src="pcimages/citypoint.png" width="20" height="auto"><i id="showCity"
                                                                                              style="margin-right:5px;color:#000">北京</i><i
                                    id="city">切换城市</i>
                            </a>
                        </li>
                        <li class="active">
                            <a ui-sref="main" >
                                首页
                            </a>
                        </li>
                        <li>
                            <a href="/downloadAPP">
                                下载APP
                            </a>
                        </li>
                        <li>
                            <a  ui-sref="server()">服务商</a>
                        </li>
                        <li>
                            <a href="/information">商家入驻</a>
                        </li>
                        <li>
                            <a href="/aboutus">
                                关于我们
                            </a>
                        </li>
                        <li class="shanghu-right" style="margin-right:10px;">
                            <a id="shanghu" class="shanghu"  ui-sref="login()">
                                商家登录
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="htit">
    <div class="htit-center">
        <div class="htit-left">
            <b>{{item.name}}</b>
            <i>营业时间：<em>{{item.time}}</em></i>
            <i>最近可预约时间：<em>{{item.ordertime}}</em></i>
        </div>
        <div class="htit-right">
            <ul>
                <li><i>{{item.sales}}</i>成功接单<em>|</em></li>
                <li><i>{{item.goodRate}}%</i>接单率<em>|</em></li>
                <li><i>{{item.completeRate}}%</i>好评率</li>
            </ul>
        </div>
    </div>
</div>
<div class="navtit">
    <ul>
        <li class="slibingsclor"><a href="javascript:;">服务项目</a></li>
        <li id="infro"><a href="javascript:;">商家简介</a></li>
        <li><a href="#profile">用户评论</a></li>
    </ul>
</div>
<div class="service-center content" style="margin-top: 22px">
    <div class="centerleft" style="width: 960px; background: #fff">
        <h3 style="width: 95%; border: none; border-bottom: 1px solid #e5e5e5; margin-left: 3%">
            <span class="paihang"><i class="activity" style="color: #121212; margin: 0">服务项目</i></span>
        </h3>
        <div class="boxtab xianshi" ng-repeat="project in projects" ui-sref="serverdetail({id:item.id})" >

            <div id="2434418" class="ctop ctopH" style="height: 200px;" >
                <img class="pic"
                     src="http://img.daoway.cn/img/2016/08/30/cce534a8-1360-487b-8e18-c404b9b71319_thumb.jpg"
                     width="150" height="150">
                <span class="spm spm2">
                    <i>{{item.name1}}</i>
                    <i style="color: #929292">{{item.description1}}</i>
                    <i class="price"><b style="margin-left: 0">{{item.price}}<em>元/次</em></b>

                        <b class="oldpic" style="display: inline-block; margin-left: 20px">原价<em>{{item.oldprice}}</em></b>

                    </i>
                </span>
                <span class="spf">已售<i>{{item.sales}}</i></span>
            </div>



        </div>
        <div id="intro2" class="fenye" style="display: block; background: #f8f8f8; height: 70px">

            <span id="morePrice" style="margin: 10px 5px">查看更多项目<img style="margin-left: 5px"
                                                                     src="pcimages/fuwu_down2.jpg" width="12"
                                                                     height="7"></span>

        </div>
        <h3 id="intro" style="width: 95%; border: none; border-bottom: 1px solid #e5e5e5; margin-left: 3%">
            <span class="paihang"><i class="activity" style="color: #121212; margin: 0">商家简介</i></span>
        </h3>

        <div class="company">{{item.details.name}}<img src="pcimages/renzheng.jpg"></div>

        <p id="profile" class="profile" innertext="宜生到家”是国内领先的互联网+大健康O2O创新企业，以“中医外治法联合调理，个性化管理服务”做为切入点，通过富侨30年积累的品牌影响力及技师团队，宜生到家快速进行渠道资源整合及产品架构完善，不到半年时间将技师团队从不足百人扩充到600余人，研发出中医推拿、足疗spa、小儿推拿三大系列三十余种产品，成为领域内推拿师人数最多、服务品类最多的平台，塑造了上门推拿行业内最高服务标准。">
          {{item.details.content}}
        </p>
        <div style="width: 100%; border-top: 10px solid #f8f8f8"></div>
        <h3 style="width: 95%; border: none; border-bottom: 1px solid #e5e5e5; margin-left: 3%;">
            <span class="paihang"><i class="activity" style="color: #121212; margin: 0">用户评论</i><em
                    style="color: #121212; margin-left: 15px">({{item.completeRate}})</em></span>
        </h3>
        <div id="commentDiv">

            <div class="conmentss" ng-repeat="item in item.users">
                <img class="touxiang" ng-src="{{item.img1}}" width="40" height="40">
                <ul>
                    <li>{{item.username}}</li>
                    <li>
                        <span id="star" style="width: 70px; margin-left: 0"><span class="noColor" style="left: 0">

                                      <img src="pcimages/red_star.png" width="10px" height="auto">

                                      <img src="pcimages/red_star.png" width="10px" height="auto">

                                      <img src="pcimages/red_star.png" width="10px" height="auto">

                                      <img src="pcimages/red_star.png" width="10px" height="auto">

                                      <img src="pcimages/red_star.png" width="10px" height="auto">

                            </span></span><em style="margin-left: 10px">{{item.time}}</em>
                    </li>
                    <li class="commentdetail">{{item.judge}}</li>
                    <li class="commentimg">

                    </li>

                    <li class="commentposition"><img src="pcimages/position.jpg" width="9" height="11">{{item.address.city}} {{item.address.area}}</li>

                </ul>
            </div>


        </div>
        <div class="fenye2">
            <a href="#profile" class="pageup greycolor">&lt;上一页</a>
            <div id="showPage" style="display: inline-block">
                <a href="#profile" class="num acv">1</a>

                <a href="#profile" class="num">2</a>

                <a href="#profile" class="num">3</a>

                <a href="#profile" class="num">4</a>

                <a href="#profile" class="num">5</a>

                <a href="#profile" class="num">6</a>

                <a href="#profile" class="num">7</a>

                <a href="#profile" class="num">8</a>

                <a href="#profile" class="num">9</a>

                <a href="#profile" class="num">10</a>

                ...

            </div>
            <a  class="pagedown ">下一页&gt;</a>
        </div>

    </div>
    <div class="centerright" style="position: relative; margin-left: 0">
        <div class="rightct" style="border: none;">
            <div class="erweima erweima2"><img src="pcimages/erweima.png" width="115" height="115"></div>
            <div class="erweima erweima3"><img src="pcimages/daowayApp.png" width="130" height="auto"></div>
        </div>
    </div>
</div>
<div class="baozhang" id="baozhang">
    <h2>到位<i>服务</i>保障</h2>
    <p>到位平台担保交易安全，交易未成功100%退款</p>
</div>
<div class="servi">
    <ul>
        <li><img src="pcimages/quan.png" width="44" height="44"><br>服务多</li>
        <li><img src="pcimages/quan.png" width="44" height="44"><br>上门快</li>
        <li><img src="pcimages/quan.png" width="44" height="44"><br>有保障</li>
    </ul>
</div>
<footer class="footer">
    <dl>
        <dt>热门城市</dt>
        <dd>
            <i>北京</i><i>上海</i><i>广州</i><i>深圳</i><i>成都</i><i>天津</i><i>南京</i><i>杭州</i><i>重庆</i><i>苏州</i><i>武汉</i><i>长沙</i><i>济南</i><i>郑州</i><i>西安</i><i>沈阳</i><i>福州</i><i>厦门</i><i>南昌</i><i>合肥</i><i>宁波</i><i>无锡</i><i>青岛</i><i>大连</i><i>东莞</i><i>佛山</i><i>石家庄</i><i>哈尔滨</i><i>太原</i><i>昆明</i><i>贵阳</i><i>南宁</i><i>温州</i>
        </dd>
    </dl>
</footer>
<div class="beian">
    <p>©2015 版权所有 到位 daoway.com 京ICP备15001471号-1</p>
    <p>北京邻家科技有限公司 </p>
</div>
<!--
<script src="js/login.js"></script>
<script src="./js/jquery-1.12.4.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript">
    $(function () {
        $(".content .ctop").click(function () {
            location.href = 'serverdetail.html';
        });

        $(".content .ctop").mouseover(function () {
            this.style.background = '#fbf8f8'
        });

        $(".content .ctop").mouseout(function () {
            this.style.background = ''
        });

       $('.pagedown').click(function () {

            var btns = $('#showPage a');

            for(var i =0;i<btns.length;i++){
                if ($(btns[i]).hasClass("acv") ) {
                    $(btns[i]).removeClass('acv');
                    console.log($(btns[i+1]));
                    $(btns[i+1]).addClass('acv')
                    break;
                }
            }
       })

    })

</script>
</body>
</html>-->
