<header class="header" class="transparent" >
    <div class="sticky-wrapper" >
        <nav class="navbar navbar-default navbar-transparent" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand navbar-brand-img" href="/">

                        <img src="pcimages/logo.png" class="img-responsive logo-fixed" alt="logo" width="100"
                             height="auto">
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="main-menu">
                    <ul class="nav navbar-nav" id="navbar-nav">
                        <li id="position">
                            <a href="/position">
                                <img src="pcimages/citypoint.png" width="20" height="auto"><i id="showCity"
                                                                                              style="margin-right:5px;color:#000">北京</i><i
                                    id="city">切换城市</i>
                            </a>
                        </li>
                        <li class="active">
                            <a ui-sref="main" >
                                首页
                            </a>
                        </li>
                        <li>
                            <a href="/downloadAPP">
                                下载APP
                            </a>
                        </li>
                        <li>
                            <a  ui-sref="server()">服务商</a>
                        </li>
                        <li>
                            <a href="/information">商家入驻</a>
                        </li>
                        <li>
                            <a href="/aboutus">
                                关于我们
                            </a>
                        </li>
                        <li class="shanghu-right" style="margin-right:10px;">
                            <a id="shanghu" class="shanghu"  ui-sref="login()">
                                商家登录
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="service-center">
    <h2 class="h2">所有分类<i class="bright">&gt;</i>
        <i id="categoryId">{{item.name1}}</i>
        <i class="bright">&gt;</i>
        <i class="cnav">{{item.nameclass}}</i>
    </h2>
    <div class="centerleft" style="width: 960px">
        <div id="curauto" class="ctop" style="border-top: 1px solid #e5e5e5;">
            <img class="pic"
                 ng-src="{{item.img}}"
                 width="160" height="160">
            <span class="spm">
                <i>{{item.nameclass}}</i>
                <i>价格<b>{{item.serviceItem[0].price}}<em>元/次</em></b><b class="oldpic" style="display: inline-block">原价<em>{{item.serviceItem[0].oldPrice}}元</em></b></i>
                <i style="display: none">优惠<em class="youhui" style="display: none"></em><em class="youhui"
                                                                                             style="display: none"></em></i>
                <i>已售<em class="yishou">{{item.serviceItem[0].sales}}</em></i>
            </span>
            <span class="spf">
                <i id="qrcode">
                    <img src="pcimages/erweima1.png">
                </i>
                <b>扫一扫</b><b>立即预约</b>
            </span>
        </div>
        <div class="cdown">
            <b>服务描述</b>
            <p id="servicePriceDescription" >{{item.description.minute}}<br>{{item.description.detail2}}<br><br>{{item.description.detail31}}<br>{{item.description.detail3}}
                <br><br>{{item.description.detail5}}<br>{{item.description.detail4}}<br><br>
            <b>服务范围</b>
            <p>北京 上海 深圳</p>
            <b>服务时间</b>
            <p>08:30-23:00<i>最近可预约时间:<em>07月11日 08:30</em></i></p>
            <b>订购须知</b>
            <p id="orderingNotice" style="background: #fffcf1" innertext="1.本店下单时可在线选择技师，每单只能订购1份服务，如需同时订多项服务请分成多个订单；
2.订单确认后，如需更改时间需提前4小时通知；
3.预约时间前2小时内退单将扣除30元爽约金；技师到达后等待超过30分钟因顾客原因未能服务将扣除订单金额的50%；
4.因夜间技师往返交通不便，需要客户负担打车费用，22点（含）以后结束的订单50元，22点（含）以后开始服务的订单100元。">1.本店下单时可在线选择技师，每单只能订购1份服务，如需同时订多项服务请分成多个订单；<br>2.订单确认后，如需更改时间需提前4小时通知；<br>3.预约时间前2小时内退单将扣除30元爽约金；技师到达后等待超过30分钟因顾客原因未能服务将扣除订单金额的50%；<br>4.因夜间技师往返交通不便，需要客户负担打车费用，22点（含）以后结束的订单50元，22点（含）以后开始服务的订单100元。
            </p>
            <b>商家简介</b>
            <p id="serviceDescription"
               innertext="宜生到家”是国内领先的互联网+大健康O2O创新企业，以“中医外治法联合调理，个性化管理服务”做为切入点，通过富侨30年积累的品牌影响力及技师团队，宜生到家快速进行渠道资源整合及产品架构完善，不到半年时间将技师团队从不足百人扩充到600余人，研发出中医推拿、足疗spa、小儿推拿三大系列三十余种产品，成为领域内推拿师人数最多、服务品类最多的平台，塑造了上门推拿行业内最高服务标准。">
                宜生到家”是国内领先的互联网+大健康O2O创新企业，以“中医外治法联合调理，个性化管理服务”做为切入点，通过富侨30年积累的品牌影响力及技师团队，宜生到家快速进行渠道资源整合及产品架构完善，不到半年时间将技师团队从不足百人扩充到600余人，研发出中医推拿、足疗spa、小儿推拿三大系列三十余种产品，成为领域内推拿师人数最多、服务品类最多的平台，塑造了上门推拿行业内最高服务标准。</p>
        </div>
    </div>
    <div class="centerright" style="position: relative; margin-left: 10px">
        <div class="rightct" style="cursor: pointer">
            <h3>服务商</h3>
            <img style="text-align: center; margin:40px 50px; margin-bottom: 10px"
                 src="http://img.daoway.cn/img/2015/05/29/8a6352fd-9f05-457f-b794-777dd92f350d.jpg" width="80"
                 height="80">
            <p style="text-align: center; margin-bottom: 20px; font-weight: bold">宜生到家</p>
            <p>成功接单<i>11910</i></p>
            <p>接单率<i>99%</i></p>
            <p>好评率<i>98%</i></p>
        </div>
        <div class="erweima"><img src="pcimages/daowayApp.png" width="130" height="auto"></div>
    </div>
</div>


<div class="baozhang" id="baozhang">
    <h2>到位<i>服务</i>保障</h2>
    <p>到位平台担保交易安全，交易未成功100%退款</p>
</div>
<div class="servi">
    <ul>
        <li><img src="pcimages/quan.png" width="44" height="44"><br>服务多</li>
        <li><img src="pcimages/quan.png" width="44" height="44"><br>上门快</li>
        <li><img src="pcimages/quan.png" width="44" height="44"><br>有保障</li>
    </ul>
</div>
<footer class="footer">
    <dl>
        <dt>热门城市</dt>
        <dd>
            <i>北京</i><i>上海</i><i>广州</i><i>深圳</i><i>成都</i><i>天津</i><i>南京</i><i>杭州</i><i>重庆</i><i>苏州</i><i>武汉</i><i>长沙</i><i>济南</i><i>郑州</i><i>西安</i><i>沈阳</i><i>福州</i><i>厦门</i><i>南昌</i><i>合肥</i><i>宁波</i><i>无锡</i><i>青岛</i><i>大连</i><i>东莞</i><i>佛山</i><i>石家庄</i><i>哈尔滨</i><i>太原</i><i>昆明</i><i>贵阳</i><i>南宁</i><i>温州</i>
        </dd>
    </dl>
</footer>
<div class="beian">
    <p>©2015 版权所有 到位 daoway.com 京ICP备15001471号-1</p>
    <p>北京邻家科技有限公司 </p>
</div>

